* {
    margin: 0;
    padding: 0;
    list-style: none;
}
iframe {
    height: 0;
}
@keyframes flag {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 0%;
    }

    100% {
        background-position: 0% 0%;
    }
}

html {
    font-size: 4px;
}


::-webkit-scrollbar {
  width: 10px;
  height: 1px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: hsl(183, 97%, 27%);
  --webkit-box-shadow: none;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0);
  --webkit-box-shadow: none;
}